<%- include('partials/headNav.ejs') %>





<body>

    

    <div id="grid">

        <div>
            <h1>Developer</h1>
        </div>
        
        <div>
             <p> 
                    Lorizzle ipsizzle you son of a bizzle mofo amizzle, consectetuer adipiscing elit. Nullam sapizzle velizzle, yo mamma volutpizzle, the bizzle shit, gravida vel, arcu. Pellentesque eget tortizzle. Own yo' erizzle. Fusce fizzle dolizzle gangsta shiz tempus pizzle. 
                    Pot break it down fo shizzle izzle turpizzle. Mammasay mammasa mamma oo sa izzle tortor. Away for sure rhoncus nisi. In hac habitasse fo shizzle dictumst. Donec dapibizzle. 
                    Pimpin' tellus urna, pretium funky fresh, dang fo shizzle mah nizzle fo rizzle, mah home g-dizzle, eleifend vitae, nunc. Phat suscipit. Integizzle shut the shizzle up velit sizzle tellivizzle.
             </p>
        </div>     

        <div>
            <p> 
                   <a href="#Lorizzle">Lorizzle ipsizzle </a> you son of a bizzle mofo amizzle, consectetuer adipiscing elit. Nullam sapizzle velizzle, yo mamma volutpizzle, the bizzle shit, gravida vel, arcu. Pellentesque eget tortizzle. Own yo' erizzle. Fusce fizzle dolizzle gangsta shiz tempus pizzle. 
                   Pot break it down fo shizzle izzle turpizzle. Mammasay mammasa mamma oo sa izzle tortor. Away for sure rhoncus nisi. In hac habitasse fo shizzle dictumst. Donec dapibizzle. 
                   Pimpin' tellus urna, pretium funky fresh, dang fo shizzle mah nizzle fo rizzle, mah home g-dizzle, eleifend vitae, nunc. Phat suscipit. Integizzle shut the shizzle up velit sizzle tellivizzle.
            </p>
       </div>     

       <div>
            <p> 
                    Lorizzle ipsizzle you son of a bizzle mofo amizzle, consectetuer adipiscing elit. Nullam sapizzle velizzle, yo mamma volutpizzle, the bizzle shit, gravida vel, arcu. Pellentesque eget tortizzle. Own yo' erizzle. Fusce fizzle dolizzle gangsta shiz tempus pizzle. 
                    Pot break it down fo shizzle izzle turpizzle. Mammasay mammasa mamma oo sa izzle tortor. Away for sure rhoncus nisi. In hac habitasse fo shizzle dictumst. Donec dapibizzle. 
                    Pimpin' tellus urna, pretium funky fresh, dang fo shizzle mah nizzle fo rizzle, mah home g-dizzle, eleifend vitae, nunc. Phat suscipit. Integizzle shut the shizzle up velit sizzle tellivizzle.
            </p>

   </div>     
       
    
        
    </div>

    <%- include('partials/footer.ejs') %>

</body>
</html>

