<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Michael Stallings - Developer</title>
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">-->
    <link rel="stylesheet"  href="css/style2.css">
</head>
<body>

<div class="container">    
    <div id="header-container">
        <h1>Michael Stallings</h1>
            <p> Lorizzle ipsizzle you son of a bizzle mofo amizzle, consectetuer adipiscing elit. Nullam sapizzle velizzle, yo mamma volutpizzle, the bizzle shit, gravida vel, arcu. Pellentesque eget tortizzle. Own yo' erizzle. Fusce fizzle dolizzle gangsta shiz tempus pizzle. 
                Pot break it down fo shizzle izzle turpizzle. Mammasay mammasa mamma oo sa izzle tortor. Away for sure rhoncus nisi. In hac habitasse fo shizzle dictumst. Donec dapibizzle. 
                Pimpin' tellus urna, pretium funky fresh, dang fo shizzle mah nizzle fo rizzle, mah home g-dizzle, eleifend vitae, nunc. Phat suscipit. Integizzle shut the shizzle up velit sizzle tellivizzle.

                Shiznit et diam fo shizzle nisi nizzle mollizzle. Suspendisse potenti. Fo shizzle odio. Dizzle neque. Cras orci. Crizzle maurizzle mauris, interdizzle a, feugiat shizzlin dizzle check it out, boofron i saw beyonces tizzles and my pizzle went crizzle, pede. Go to hizzle daahng dawg. 
                Crunk check it out mi, volutpizzle izzle, brizzle sizzle, crunk semper, velizzle. Crizzle the bizzle ipsizzle. Uhuh ... yih! volutpizzle felizzle vel orci. Hizzle go to hizzle pimpin' sheezy purizzle sodalizzle ornare. Dawg venenatizzle justo izzle shit. Nunc funky fresh. Suspendisse gangsta placerizzle the bizzle. 
                Curabitizzle you son of a bizzle ante. For sure fizzle, leo eu phat hendrerit, funky fresh felizzle sizzle, we gonna chung dizzle magna felis bow wow wow pede. Get down get down a nisl. Fo shizzle my nizzle aptent taciti gangster izzle litora torquent conubia nostra, things gizzle boom shackalack. 
                Brizzle interdizzle, the bizzle nec shiz nonummy, the bizzle orci own yo' leo, break yo neck, yall yo risus arcu ghetto get down get down.
            </p>
    </div>
</div>
    
</body>
</html>